<?xml version="1.0"?>
<config>

    <tabs>
        <local translate="label" module="imi_commonblocks">
            <label>Custom Configuration</label>
            <sort_order>101</sort_order>
        </local>
    </tabs>

    <sections>
        <local_general translate="label">
            <label>General</label>
            <tab>local</tab>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <links translate="label">
                    <label>Links to External Pages</label>
                    <comment>Please double-check upper/lowercase in the link to avoid redirects</comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <corporate translate="label">
                            <label>Corporate Website (Full Link)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The full link (example http://www.example.com/)</comment>
                        </corporate>
                        <facebook translate="label">
                            <label>Facebook URL Path</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Only the part after "/" (example: "Example", will automatically create a link to https://www.facebook.com/Example)</comment>
                        </facebook>
                        <twitter translate="label">
                            <label>Twitter Path</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Only the part after "/" (example: "example", will automatically create a link to http://www.twitter.com/example)</comment>
                        </twitter>
                        <googleplus translate="label">
                            <label>Google Plus Path</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Only the part after "/" (example: "example", will automatically create a link to https://plus.google.com/example)</comment>
                        </googleplus>
                        <youtube translate="label">
                            <label>YouTube Channel User Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>User Name for the YouTube channel (example: "channel/example", will automatically create a link to http://www.youtube.com/channel/example)</comment>
                        </youtube>
                        <instagram translate="label">
                            <label>Instagram User Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>500</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>User Name for the Instagram Page (example: "example", will automatically create a link to http://instagram.com/example)</comment>
                        </instagram>
                        <pinterest translate="label">
                            <label>Pinterest User Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>600</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Only the part after "/" (example: "example", will automatically create a link to http://www.pinterest.com/example)</comment>
                        </pinterest>
                        <linkedin translate="label">
                            <label>LinkedIn Path</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>650</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Only the part after "/" (example: "company/example", will automatically create a link to http://www.linkedin.com/company/example)</comment>
                        </linkedin>
                        <xing translate="label">
                            <label>Xing</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>675</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Only the part after "/" (example: "companies/example", will automatically create a link to http://www.xing.com/companies/example)</comment>
                        </xing>
                        <external_page translate="label">
                            <label>External Page (Full Link)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>700</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The full link (example http://www.example.com/)</comment>
                        </external_page>
                    </fields>
                </links>
                <favorites>
                    <label>Topsellers / Favorites</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <automatic translate="label">
                            <label>Automatically fill with best sold products per category (topsellers)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </automatic>
                        <automatic_days translate="label">
                            <label>Number of days to consider in the sales statistics</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><automatic>1</automatic></depends>
                        </automatic_days>
                        <category translate="label">
                            <label>Category to use</label>
                            <frontend_type>select</frontend_type>
                            <source_model>imi_commonblocks/config_source_category</source_model>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </category>
                    </fields>
                </favorites>
            </groups>
        </local_general>
    </sections>
</config>